@inject IJSRuntime JS


<AddMachineForm OnAddMachine="HandleAddMachine" />
<DeleteMachineForm OnDeleteMachine="HandleDeleteMachine" Machine="SelectedMachine"/>
<UploadMachineDataForm OnUpload="HandleUploadData" Machine="SelectedMachine" />

<div class="card shadow-sm">
    <div class="card-header d-flex">
        <span>Machines</span>
        <button class="btn btn-sm btn-primary ms-auto" @onclick="OpenAddMachineModal">Add machine</button>
    </div>

    <div class="card-body">

        <table class="table table-dashboard">
            <thead>
                <tr>
                    <th style="15px"></th>
                    <th style="width: 55%">Name</th>
                    <th style="width: 35%">Status</th>
                    <th style=""></th>
                </tr>
            </thead>

            <tbody>
                @foreach(var machine in Machines) {
                    <tr>
                        <td>
                            <i class="bi bi-circle-fill text-@OnlineStatusColor(machine)"></i>
                        </td>
                        <td>
                            @machine.Name
                            <div>
                                <small class="text-muted text-sm">@machine.LastData</small>
                            </div>
                        </td>
                        <td>
                            @(machine.IsOnline ? "Running" : "Offline")
                            <div>
                                <small class="text-muted text-sm">@machine.LastUpdated</small>
                            </div>
                        </td>
                        <td class="text-end">
                            <div class="btn-group btn-group-sm">

                                <button class="btn" title="@ToggleButtonText(machine)" @onclick="@(() => Toggle(machine))">
                                    <i class="bi bi-@ToggleButtonIcon(machine)"></i>
                                </button>

                                <button class="btn" title="Send data" @onclick="@(() => OpenUploadMachineDataModal(machine))">
                                    <i class="bi bi-upload"></i>
                                </button>

                                <button class="btn" title="Delete machine" @onclick="@(() => OpenDeleteMachineModal(machine))">
                                    <i class="bi bi-trash"></i>
                                </button>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>

@code {
    [Parameter]
    public List<Machine> Machines { get; set; } = [];

    [Parameter]
    public EventCallback<Machine> OnToggleOnlineState { get; set; }

    [Parameter]
    public EventCallback<AddMachine> OnAddMachine { get; set; }
    
    [Parameter]
    public EventCallback<UploadMachineData> OnUploadMachineData { get; set; }

    [Parameter]
    public EventCallback<Machine> OnDeleteMachine { get; set; }

    private Machine? SelectedMachine;


    private string ToggleButtonText(Machine machine)
    {
        return machine.IsOnline ? "Stop machine" : "Start machine";
    }

    private string ToggleButtonIcon(Machine machine)
    {
        return machine.IsOnline ? "stop-fill" : "play-fill";
    }

    private string OnlineStatusColor(Machine machine)
    {
        return machine.IsOnline ? "success" : "danger";
    }

    private async Task Toggle(Machine machine)
    {
        if (OnToggleOnlineState.HasDelegate) {
            await OnToggleOnlineState.InvokeAsync(machine);
        }

    }
    private async Task OpenAddMachineModal(MouseEventArgs args)
    {
        await JS.InvokeVoidAsync("showModal", "addMachineModal");
    }

    private async Task OpenDeleteMachineModal(Machine machine)
    {
        SelectedMachine = machine;
        await JS.InvokeVoidAsync("showModal", "deleteMachineModal");
    }

    private async Task OpenUploadMachineDataModal(Machine machine)
    {
        SelectedMachine = machine;
        await JS.InvokeVoidAsync("showModal", "uploadMachineDataModal");
    }

    private async Task HandleAddMachine(AddMachine addMachineModel)
    {
        if (OnAddMachine.HasDelegate) {
            await OnAddMachine.InvokeAsync(addMachineModel);
        }
    }
    private async Task HandleUploadData(UploadMachineData machineData)
    {
        SelectedMachine = null;
        if (OnUploadMachineData.HasDelegate) {
            await OnUploadMachineData.InvokeAsync(machineData);
        }
    }

    private async Task HandleDeleteMachine(Machine machine)
    {
        SelectedMachine = null;
        if (OnDeleteMachine.HasDelegate) {
            await OnDeleteMachine.InvokeAsync(machine);
        }
    }
}