
<div class="card shadow-sm">
    <div class="card-header">
        Machines
    </div>

    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach(var machine in Machines) {
                    <tr>
                        <td>
                            @machine.Name
                        </td>
                        <td>
                            @(machine.IsOnline ? "Running" : "Offline")
                            <div>
                                <small class="text-muted text-sm">@machine.LastUpdated</small>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm @ButtonClass(machine)" @onclick="@(() => Toggle(machine))">
                                @ButtonText(machine)
                            </button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>

@code {
    [Parameter]
    public List<Machine> Machines { get; set; } = [];

    [Parameter]
    public EventCallback<Machine> OnToggleOnlineState { get; set; }

    private string ButtonText(Machine machine)
    {
        return machine.IsOnline ? "Stop" : "Start";
    }

    private string ButtonClass(Machine machine)
    {
        return machine.IsOnline ? "btn-outline-danger" : "btn-outline-success";
    }

    private async Task Toggle(Machine machine)
    {
        if (OnToggleOnlineState.HasDelegate)
            await OnToggleOnlineState.InvokeAsync(machine);

    }
}